<!-- app.component.html -->
<!-- app.component.html -->
<app-wizard>
  <app-wizard-step [iconClass]="'glyphicon glyphicon-folder-open'" [index]="0">
    <h3>Step 1</h3>
    <p>This is step 1</p>
  </app-wizard-step>
  
  <app-wizard-step [iconClass]="'glyphicon glyphicon-pencil'" [index]="1">
    <h3>Step 2</h3>
    <p>This is step 2</p>
  </app-wizard-step>
  
  <app-wizard-step [iconClass]="'glyphicon glyphicon-picture'" [index]="2">
    <h3>Step 3</h3>
    <p>This is step 3</p>
  </app-wizard-step>

  <app-wizard-step [iconClass]="'glyphicon glyphicon-ok'" [index]="3">
    <h3>Complete</h3>
    <p>You have successfully completed all steps.</p>
    <p><a href="https://bit.ly/3m9avif" target="_blank">Found Useful -> Please Subscribe my Youtube Channel</a></p>
  </app-wizard-step>
</app-wizard>
